*.rb filter=trimWhitespace
*.ru filter=trimWhitespace
*.md filter=trimWhitespace
*.mdown filter=trimWhitespace
*file filter=trimWhitespace
*.rake filter=trimWhitespace
*.erb filter=trimWhitespace
*.conf filter=trimWhitespace
